<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View Students</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand " >Student Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link bg-dark rounded border border-dark"   href="/" th:href="@{/home}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white bg-dark rounded border border-dark" href="/" th:href="@{/viewStudents}">View Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white bg-dark rounded border border-dark" href="/" th:href="@{/addStudent}">Add Student</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Student" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search </button>
    </form>
  </div>
</nav>
<br>
<div th:if=${session.msg}>
  <div class="alert alert-success" role="alert" th:text="${session.msg}">
  </div>
  <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
</div>

<div class=" display: flex mr-5 ml-5">
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col"> Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col">Grade</th>
      <th scope="col">Stream</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u: ${users}">
      <td th:text="${u.userId}"></td>
      <td th:text="${u.firstName}"></td>
      <td th:text="${u.lastName}"></td>
      <td th:text="${u.age}"></td>
      <td th:text="${u.grade}"></td>
      <td th:text="${u.stream}"></td>
      <td th:text="${u.userAddress}"></td>
      <td>
        <a class="btn btn-sm btn-warning" th:href="@{/editStudent/{id}(id=${u.userId})}">Edit</a>
        <a class="btn btn-sm btn-danger" th:href="@{/}">Delete</a>
      </td>

    </tr>
    </tbody>
  </table>

</div >


</body>
</html>